<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lostandfound.mapper.AttributeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lostandfound.entity.Attribute">
        <result column="key" property="key" />
        <result column="number_value" property="numberValue" />
        <result column="text_value" property="textValue" />
    </resultMap>

</mapper>
