<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lostandfound.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.lostandfound.entity.Comment">
        <id column="id" property="id" />
        <result column="item_id" property="itemId" />
        <result column="content" property="content" />
        <result column="user_id" property="userId" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="upvote_count" property="upvoteCount" />
        <result column="is_top" property="isTop" />
    </resultMap>

</mapper>
